* {
	box-sizing: border-box;
}

body, html {
	padding: 0;
	margin: 0;
	height: 100%;
}

body {
	font-family: sans-serif;
    color: #999;
	position: relative;
}

#droplet {
    width: 50px;
    display: inline-block;
    margin-right: 12px;
    float: left;
}

.message {
	position: absolute;
	width: 256px;
    height: 64px;
	text-align: center;
	top: 50%;
	left: 50%;
	margin-left: -128px;
    margin-top: -32px;
    line-height: 0;
}

.message h1 {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 64px;
    float: left;
    font-family: 'Quicksand';
    font-weight: 500;
    font-size: 36px;
}

.message img {
    height: 100%;
    display: inline-block;
    float: left;
}
