/*Site specific style*/
.main-headshot {
	max-width: 135px;
}

.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 0px;
  margin: 0;
}
.nav li {
  font-family: 'Arial', sans-serif;
  font-size: 1.0em;
  line-height: 20px;
  height: 20px;
  border-bottom: 1px solid #888;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #b8b4b4;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

.container {
	padding-top: 10px;
}

.post-well {
    max-height: 500px;
    overflow: auto;
}

.post-well h5 {
    margin-bottom: 0;
}

.post-title {
    margin-bottom: 0;
}

.post img {
    max-width: 300px;
}

.home-contact a {
    text-decoration: none;
}

.about .about-quote {
    font-style: italic;
}
.about .halfshot {
    float: right;
    max-width: 400px;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

input:invalid {
    box-shadow: 0 0 5px 1px red;
}

input:focus:invalid {
    outline: none;
}

input:valid {
    
}

.notification-fail {
    height: 50px;
    line-height: 50px;
    width: 100%;
    margin: 0 auto;
    opacity: 0;
    text-align: center;
    color: white;
    background-color: red;
    -webkit-animation: fade 6s;
    animation: fade 6s;
    
}

.notification-succeed {
    height: 50px;
    line-height: 50px;
    width: 100%;
    margin: 0 auto;
    opacity: 0;
    text-align: center;
    background-color: lightgreen;
    -webkit-animation: fade 6s;
    animation: fade 6s;
    
}

.notification-message {
    vertical-align: middle;
}

@-webkit-keyframes fade {
    0% {
        opacity: 0;
    }
    
    25% {
        opacity 1;
    }
    
    50% {
        opacity: 1;
    }
    
    75% {
        opacity: 0.5;
    }
    
    100% {
        opacity: 0;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    
    25% {
        opacity 1;
    }
    
    50% {
        opacity: 1;
    }
    
    75% {
        opacity: 0.5;
    }
    
    100% {
        opacity: 0;
    }
}

 
@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 30px;
    line-height: 30px;
    font-size: 1.4em;
  }
 
  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
 
  /* Options 2 - Float
  .nav li {
    float: left;
  }
  .nav ul {
    overflow: auto;
    width: 600px;
    margin: 0 auto;
  }
  .nav {
    background-color: #444;
  }
  */
}
